.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* background image */
.bg-img {
    background-image: url(../Assets/Hero-bg.png);
}

/* shared styles */

.primary-color {
    color: #4E47FF;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px 36px;
    border-style: none;
}


.bg-color {
    background-color: #F5F8FF;
}

 /* header style */

 header {
    width: 100%;
    height: 750px;
 }

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 150px;
    align-items: center;
}

nav img {
    width: 175px;
    height: 100%;
}


/* banner style */

.banner-content {
    text-align: center;
    margin: 155px 268px;
}

.banner-content h1 {
    font-size: 65px;
}


/* action style */

.action-section {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    align-items: center;
}

.action-section img {
    border-radius: 50px;
}

.action-content h3 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
}

.action-content p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}


/* productive-user style */

.productive-user {
    width: 1140px;
    height: 300px;
    text-align: center;
    margin: 137px auto;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 140px;
}

.productive-user h3 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 0;
}

.productive-container {
    display: flex;
    justify-content: space-around;
}

.productive-container h1 {
    margin-top: 40px;
}

.data-title {
    font-weight: bold;
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0;
}

.data-sub {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}


/* feedback style */


.user-feedback {
    width: 1140px;
    height: 350px;
    align-items: center;
    margin: 137px auto;
}

.user-feedback h3 {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feedback-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 20px;
}

.reviewer-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}

.reviewer-info img {
    border-radius: 50%;
}

.reviewer-name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.review-date {
    color: rgba(0, 0, 0, 0.5);
}

.feedback-title {
    margin-bottom: 0;
}

.feedback-text {
    font-size: 15px;
}

/* focus section style */

.focus {
    width: 1140px;
    height: 650px;
    margin: 137px auto;
    padding: 70px 150px;
    text-align: center;
    align-items: center;
     background-color: rgba(255, 255, 255, 0.5);
}

.focus img {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 0;
}

.focus h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.focus p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}



.focus button {
    margin-bottom: 20px;
    font-weight: 500;

}


/* contact section style */

.contact-us {
    display: flex;
    justify-content: space-between;
    gap: 115px;
    width: 1140px;
    height: 700px;
    margin: 90px auto;
    align-items: center;
}

.contact-us h1 {
    font-weight: bold;
    font-size: 97px;
}

form{
    width: 500px;
    height: 500px;
}

form input,textarea{
    border-style: none;
}

.form-title {
    font-weight: 500;
    font-size: 18px;
}