.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* background image */
.bg-img {
    background-image: url(../Assets/Hero-bg.png);
}

/* shared styles */

.primary-color {
    background-color: #4E47FF;
}

.primary-btn {
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px 36px;
    border-style: none;
}

 /* header style */

 header {
    width: 100%;
    height: 750px;
 }

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 150px;
    align-items: center;
}

nav img {
    width: 175px;
    height: 100%;
}


/* banner style */

.banner-content {
    text-align: center;
    margin: 155px 268px;
}

.banner-content h1 {
    font-size: 65px;
}